html {
	font-family: sans-serif;
	color:#333;
	font-size: 18px;
}
body {
	margin: 0;
}
main {
    max-width: 900px;
    min-height: 500px;
    width: 100%;
    margin: 25px auto;
    padding: 0 25px;
    box-sizing: border-box;
}
.left {
	float:left;
}
.right {
	float:right;
}
.centered {
	text-align: center;
}

a, a:visited {
	color:#7373f3;
}
a:hover {
	color:#000;
}
.main-img {
	margin: auto;
    display: block;
	box-shadow: 0 0px 10px 0px #333;
	max-width:100%;
}

.dutch {
	width: 30px;
    height: 30px;
    animation: bonk 1.5s steps(20) infinite;
    background-image: url(assets/dutch-full.png);
	margin: auto;
}
@keyframes bonk {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

header {
	font-size: 10vw;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-top: 10vw;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0.18);
	background-image: url(assets/bg-header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
header .name {
    line-height: 9vw;
    margin-top: 3vw;
}
header .job {
	font-size: 3vw;
	margin-bottom: 3vw;
	font-weight: normal;
	line-height: 3vw;
	margin-top: 0;
}
header:before,
header:after {
    position: absolute;
    content: '';
}
header:before {
	z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
header:after {
    z-index: -1;
	top: 11.5vw;
    right: 0;
    bottom: 1.5vw;
    left: 0;
    background-color: #fff;
}
.social img {
	width: 50px;
    margin: 5px;
}
.social:hover {
	filter: invert(50%);
}
.content-box {
    padding: 25px;
    border-bottom: 5px solid #c1c1c1;
    background: #fbfbfb;
}
@media only screen and (min-width: 768px) {
	header {
		font-size: 5vw;
		padding-top: 5vw;
	}
	header:after {
		top: 5.5vw;
		bottom: .5vw;
	}
	header .name {
		line-height: 4vw;
		margin-top: 1vw;
	}
	header .job {
		font-size: 1vw;
		margin-bottom: 1vw;
		font-weight: normal;
		line-height: 1vw;
		margin-top: 0;
	}
}