body {
	max-width:800px;
	margin:auto;
	width:100%;
	font-family: sans-serif;
	color:#333;
	padding:0 10px;
	box-sizing: border-box;
	margin-top:20px;
}

a, a:visited {
	text-decoration:none;
	color:#000066;
}

a:hover {
	color:#000;
}

.dutch {
    width: 30px;
    height: 30px;
	animation: play 1.5s steps(20) infinite;
	background-image: url("assets/dutch-full.png");
	margin: auto;
}
@keyframes play {
   from { background-position:    0px; }
     to { background-position: -600px; }
}