html {
	font-family: sans-serif;
	color:#333;
}
body {
	margin: 0;
}
main {
	max-width: 800px;
    min-height: 500px;
    width: 100%;
    margin: 25px auto;
	padding: 0 25px;
    box-sizing: border-box;
}
header {
    text-align: center;
	position:relative;
}
.left {
	float:left;
}
.right {
	float:right;
}
h2 {
    text-align: center;
}
p, blockquote {
    font-size: 20px;
    line-height: 25px;
}
a, a:visited {
	color:#7373f3;
}
a:hover {
	color:#000;
}
.main-img {
	margin: auto;
    display: block;
	box-shadow: 0 0px 10px 0px #333;
}
blockquote {
    border-left: 15px solid #f5f5f5;
    padding: 15px 10px 15px 20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
blockquote figcaption {
	margin-top: 10px;
}
.dutch {
	width: 30px;
    height: 30px;
    animation: bonk 1.5s steps(20) infinite;
    background-image: url(assets/dutch-full.png);
	float: left;
    margin-right: 10px;
}
@keyframes bonk {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

header {
	font-size: 10vw;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-top: 10vw;
    text-align: center;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0.18);
	background-image: url(assets/bg-header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
header:before,
header:after {
    position: absolute;
    content: '';
}
header:before {
	z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    background-position: center;
    background-repeat: no-repeat;
}
header:after {
    z-index: -1;
	top: 11.5vw;
    right: 0;
    bottom: 1.5vw;
    left: 0;
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
	header {
		font-size: 5vw;
		padding-top: 5vw;
	}
	header:after {
		top: 5.5vw;
		bottom: .5vw;
	}
}